.btn {
  color: var(--dark-green-01, #1e4c2f);
  text-align: center;

  /* Heading/H2 - 18 Semi Bold -  Lh 140% */
  font-family: Clash Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
  letter-spacing: -0.2px;
  background: none;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--dark-green-01, #1E4C2F);
  cursor: pointer;
}
