.ButtonImgUniverse{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--dark-green-01, #1E4C2F);
    padding: 14px 24px;
    
    button{
        color: var(--dark-green-01, #1E4C2F);
        text-align: center;
        font-family: Clash Grotesk;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.2px;
        background: none;
        border: none;
    }
}