.ShippingBottom {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .titleOfCargo {
    color: var(--black-01, #0b0f0e);
    font-family: Clash Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.2px;
  }
  .catchShippingAddres {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid var(--d-grey-01, #e4e9ee);
    background: var(--white-general, #fff);
    padding: 24px;

    .priceSide {
      display: flex;
      align-items: center;
      gap: 24px;
      .price {
        color: var(--black-01, #0b0f0e);
        font-family: Clash Grotesk;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.2px;
      }
      .iconDown {
        width: 24px;
        height: 24px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .catchAllThreeElements .leftImgLogo {
    max-width: 100px;
    min-width: inherit;
    max-height: 52px;
    min-height: inherit;
  }
  .catchAllThreeElements .rightInfoLogo .rightInfosCatch h4 {
    font-size: 20px;
  }
  .catchAllThreeElements .rightInfoLogo .rightInfosCatch h3 {
    font-size: 16px;
  }
}
