.EachLineSysRequred {
  .sysItem {
    color: var(--grey-01, #818b9c);

    /* Paragraph/P1/16 Regular - Lh 160% */
    font-family: Clash Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
}
