.InTheBoxItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
 
}
.catchAllIntheBox{
  .titleOfInthebox {
    color: var(--black-01, #0b0f0e);

    /* Heading/H2 - 18 Semi Bold -  Lh 140% */
    font-family: Clash Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.2px;
  }
}

//994px
@media (max-width: 994px) {
  .catchAllIntheBox{
    .titleOfInthebox {
    
      font-size: 15px;
   
    }
  }
}
