.sliderrightCatch {
  width: 50%;
  position: relative;
  //   padding-right: 60px;
  .sliderBackImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sliderrightCatch .newCarditemContainer {
  position: absolute;
  top: 34%;
  right: 49%;

  transform: translate(8%, -38%);
}
.sliderrightCatch .cathcCardComp {
  // position: absolute;
  // top: 175px;
  // left: 187px;
  /* right: 17px; */
  margin: inherit;
  width: 150px;
  height: 144px;
  background: #fff;
  border-radius: 8px 8px 0px 0px;
  background: var(--l-grey-02, #f6f6f6);
  .topSide {
    border-radius: 8px 8px 0px 0px;
    background: var(--l-grey-02, #f6f6f6);
    .imgCatch {
      width: 120px;
      height: 120px;
      margin: 12px 15px;
    }
  }
  .bottomSide {
    padding: 10px;
    text-align: start;
    background: #fff;
    .leftProductInfos ._catchInfos_1j6zo_1 {
      h2 {
        color: var(--black-01, #0b0f0e);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Clash Grotesk;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.2px;
      }
      p {
        color: var(--grey-01, #818b9c);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Clash Grotesk;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
    }
    .leftProductInfos .rating {
      .starSide {
        img {
          width: 12px;
        }
        span {
          color: var(--black-01, #0b0f0e);
          font-feature-settings: "clig" off, "liga" off;
          font-family: Clash Grotesk;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
        }
      }
      .soldCount {
        color: var(--black-01, #0b0f0e);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Clash Grotesk;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
      }
    }
    .rightPrice {
      display: none;
    }
  }
  .wishIcon {
    right: 9px;
    top: 9px;
    padding: 5px;
  }
}

//1200px
@media (max-width: 1200px) {
  .sliderrightCatch{
    .newCarditemContainer {
   
      top: 41% ;
     
    }
  }
}

//994px
@media (max-width: 994px) {
  // for slider first slider item
  .sliderrightCatch {
    width: 60%;
  }
}
//778px
@media (max-width: 778px) {
  // for slider first slider item
  .sliderrightCatch {
    width: 100%;
  }
  .sliderrightCatch .cathcCardComp {
    margin: inherit;

    .wishIcon {
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}

//576px

@media (max-width: 576px) {
  .sliderrightCatch .cathcCardComp {
   
    margin: inherit;
    width: 128px;
    height: inherit;
    min-width: inherit;

    .topSide {
      width: 100%;
      display: flex;
      justify-content: center;
      .imgCatch {
        width: 100px;
        height: 100px;
        // margin: 14px;
      }
    }
    .bottomSide {
      padding: 8px;

      .leftProductInfos ._catchInfos_1j6zo_1 {
        h2 {
          font-size: 12px;
          padding-bottom: 2px;
        }
        p {
          font-size: 9px;
          padding-bottom: 4px;
        }
      }
      .leftProductInfos .rating {
        gap: 8px;
        .starSide {
          img {
            width: 15px;
            height: 15px;
          }
          span {
            font-size: 9px;
          }
        }
        .soldCount {
          font-size: 9px;
        }
      }
    }
  }
  .sliderrightCatch{
    .newCarditemContainer {
   
      top: 50% ;
     
    }
  }
}
//445px

@media (max-width: 445px) {
  .sliderrightCatch .cathcCardComp {
   
 width: 110px;

    .topSide {
    
      .imgCatch {
        width: 100%;
        height: 80px;
      }
    }
    .bottomSide {
      padding: 5px;

      .leftProductInfos ._catchInfos_1j6zo_1 {
        h2 {
          font-size: 12px;
          padding-bottom: 2px;
        }
        p {
          font-size: 9px;
          padding-bottom: 4px;
        }
      }
      .leftProductInfos .rating {
        gap: 8px;
        .starSide {
          img {
            width: 15px;
            height: 15px;
          }
          span {
            font-size: 9px;
          }
        }
        .soldCount {
          font-size: 9px;
        }
      }
    }
  }
  .sliderrightCatch{
    .newCarditemContainer {
   
      top: 42% ;
     
    }
  }
}
