.AboutOneProductHome{
    border-radius: 16px;
    background: var(--orange-3, #FCECE1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    // height: 400px;
    // margin: 120px;
    margin-top: 120px;
    .leftImageHome{
        width: 430px;
    padding-left: 80px;
    img{
        width: 100%;
    object-fit: cover;
    margin-block: -15px;
    }
    }
    .rightInfoHome{
        display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 80px;
    ._catchInfos_1j6zo_1{
        display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 16px;
    ._titleDes_1j6zo_5{
        text-align: inherit;
    }
    ._description_1j6zo_17 {
        text-align: inherit;
    }
    }
    }
}