.FeaturedCtgAll {
  // margin: auto 120px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 52px;

//   .slideriTemsCatch {
//     display: flex;
//     background: #fff;
//     justify-content: space-between;
//     gap: 24px;
//   }
  .swiper-scrollbar {
    // opacity: 1;

    .swiper-scrollbar-drag {
      width: 300px !important;
      height: 6px;
      border-radius: 30px;
      background: var(--dark-green-01, #1e4c2f);
    }
  }
  .swiper-wrapper {
    padding-bottom: 52px;
  }
}
/* Define breakpoints and adjust Swiper settings accordingly */

/* Default styles */
// .mySwiper {
//   space-between: 6px;
//   slides-per-view: 3;
// }

// /* Adjust for smaller screens (e.g., tablets) */
// @media (max-width: 768px) {
//   .mySwiper {
//     space-between: 4px;
//     slides-per-view: 2;
//   }
// }

// /* Adjust for even smaller screens (e.g., mobile) */
// @media (max-width: 576px) {
//   .mySwiper {
//     space-between: 2px;
//     slides-per-view: 1;
//   }
// }
