.MerchantAll {
  .titleOfSide {
    color: var(--black-01, #0b0f0e);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Clash Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.2px;
  }
  .merchantElmentsMiddle {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btnCatchProduct {
      display: flex;
      gap: 16px;
    }
  }
}

//1048px
@media (max-width: 1048px) {
  .MerchantAll {
    .merchantElmentsMiddle {
      .catchAllThreeElements .rightInfoLogo .rightInfosCatch h4 {
        font-size: 16px;
      }
      .catchAllThreeElements .rightInfoLogo .rightInfosCatch h3 {
        font-size: 14px;
      }
    }
    .ButtonImgUniverse button {
      font-size: 14px;
    }
  }
}
//772px
@media (max-width: 772px) {
  .MerchantAll {
    .merchantElmentsMiddle {
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
      .catchAllThreeElements .rightInfoLogo .rightInfosCatch h4 {
        font-size: 14px;
      }
      .catchAllThreeElements .rightInfoLogo .rightInfosCatch h3 {
        font-size: 12px;
      }
      .catchAllThreeElements .rightInfoLogo .bottomInfosMerchant h5 {
        font-size: 12px;
      }
      .btnCatchProduct{
        width: 100%;
        .ButtonImgUniverse{
          width: 100%;
        }
      }
    }

    .ButtonImgUniverse button {
      font-size: 14px;
    }
  }
}

//384px
@media (max-width: 400px) {
  .MerchantAll .ButtonImgUniverse button {
    width: max-content;
  }
}