.ProductSummary {
  border-radius: 12px;
  border: 1px solid var(--d-grey-01, #e4e9ee);
  background: var(--white-general, #fff);
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -32px;
  width: 30%;

  .lineBreakBox {
    background: #e4e9ee;
    height: 1px;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .titleOfCheckBox {
    color: var(--black-01, #0b0f0e);
    font-family: Clash Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.2px;
    margin-bottom: 24px;
  }
  ._catchInfos_1j6zo_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ._catchInfos_1j6zo_1 h2,
  p {
    text-align: inherit;
  }
  .selectedProductsInBox ._catchInfos_1j6zo_1 h2,
  p {
    color: var(--black-01, #0b0f0e);

    /* Paragraph/P1/16 Regular - Lh 160% */
    font-family: Clash Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
  .selectedProductsInBox ._catchInfos_1j6zo_1 p {
    color: var(--black-01, #0b0f0e);

    /* Paragraph/P1/16 Regular - Lh 160% */
    font-family: Clash Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }

  .calculatedItems ._catchInfos_1j6zo_1 h2 {
    color: var(--grey-01, #818b9c);

    /* Paragraph/P1/16 Regular - Lh 160% */
    font-family: Clash Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
  .calculatedItems ._catchInfos_1j6zo_1 p {
    color: var(--black-01, #0b0f0e);

    /* Paragraph/P1/16 Regular - Lh 160% */
    font-family: Clash Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
  .totalPriceItems ._catchInfos_1j6zo_1 h2,
  p {
    color: var(--black-01, #0b0f0e);
    text-align: right;

    /* Extra Heading/Eh6 - 20 Semi Bold -  Lh 130% */
    font-family: Clash Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.2px;
  }

  .selectedProductsInBox,
  .calculatedItems {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .usingPromocode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--d-grey-01, #e4e9ee);
    background: var(--white-general, #fff);
    padding: 19px 16px;
    margin-top: 16px;
    margin-bottom: 32px;
    .catchAllThreeElements .leftImgLogo {
      width: 24px;
      height: 24px;
      max-width: inherit;
      min-width: inherit;
      max-height: inherit;
      min-height: inherit;
    }

    .catchAllThreeElements .rightInfoLogo .rightInfosCatch h3 {
      font-size: 16px;
    }
    .catchAllThreeElements .rightInfoLogo .rightInfosCatch {
      gap: 2px;
    }
  }

  .checkoutCLick {
    border-radius: 8px;
    background: var(--dark-green-01, #1e4c2f);
    .btn {
      width: 100%;
      color: var(--white-general, #fff);
      text-align: center;
      font-family: Clash Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.2px;
    }
  }
}

//1048px
@media (max-width: 1048px) {
  .ProductSummary {
    .titleOfCheckBox {
      font-size: 16px;
    }

    .selectedProductsInBox ._catchInfos_1j6zo_1 h2,
    p {
      font-size: 14px;
    }

    .calculatedItems ._catchInfos_1j6zo_1 h2 {
      font-size: 14px;
    }
    .calculatedItems ._catchInfos_1j6zo_1 p {
      font-size: 14px;
    }
    .totalPriceItems ._catchInfos_1j6zo_1 h2,
    p {
      font-size: 16px;
    }

    .usingPromocode {
      .catchAllThreeElements {
        gap: 12px;
      }
      .catchAllThreeElements .leftImgLogo {
        width: 20px;
        height: 20px;
      }
      .catchAllThreeElements .rightInfoLogo .rightInfosCatch h4 {
        font-size: 14px;
      }

      .catchAllThreeElements .rightInfoLogo .rightInfosCatch h3 {
        font-size: 12px;
      }
    }

    .checkoutCLick .btn {
      font-size: 16px;
    }
  }
}

//997px
@media (max-width: 997px) {
  .ProductSummary {
    width: 100%;
  }
}

//1048px
@media (max-width: 554px) {
  .ProductSummary {
    .usingPromocode {
      .catchAllThreeElements {
        gap: 12px;
      }
    }

    .checkoutCLick .btn {
      font-size: 14px;
    }
  }
}
