.RightShoppingCounter {
    display: flex;
    align-items: center;
    gap: 16px;
  .counterItem {
    border-radius: 8px;
    border: 1px solid var(--d-grey-01, #e4e9ee);
    display: flex;
    align-items: center;
    gap: 8px;
    button#myButton {
      border: none;
      font-size: 20px;
    }
    
    span {
      color: var(--black-01, #0b0f0e);
      text-align: center;

      /* Paragraph / P1 / 16 Medium - Lh 160% */
      font-family: Clash Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
    }
  }

  .counterItem .btn:nth-child(1){
    color: var(--grey-01, #818b9c);
  }
  .counterItem .btn:nth-child(3){
   color: var(--dark-green-03, #1d9e34);
  }
}
