.catchFilterAll {
  // width: 25%;
  border-radius: 12px;
  border: 1px solid var(--d-grey-01, #e4e9ee);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  max-width: 278px;
    width: 100%;

  .lineBlockFlter {
    width: 100%;
    height: 2px;
    background: #e4e9ee;
  }
  
}
.selectedPriceRange{
  background-color: #1d9e34;
  color: #fff !important;
}
.catchFilterAll .nameOfTitle {
  h2 {
    color: var(--black-01, #0b0f0e);
    font-family: Clash Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.2px;
  }
}

.catchFilterAll .FilterOptions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .MuiPaper-root {
    box-shadow: none;
  }
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    opacity: 0;
  }
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    padding: 0;
  }
  .css-15v22id-MuiAccordionDetails-root {
    padding: 0;
  }
  .spesfikInfoTitle {
    color: var(--black-01, #0b0f0e);
    font-family: Clash Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.2px;
  }
  .CatchCheckBoxes {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .ShowAll {
      color: var(--dark-green-03, #1d9e34);

      /* Paragraph / P1 / 16 Medium - Lh 160% */
      font-family: Clash Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
    }
  }
}

//1200px
@media (max-width: 1200px) {
  .catchFilterAll .nameOfTitle {
    h2 {
    
      font-size: 16px;
    
    }
  }
}
//1024px
@media (max-width: 1024px) {
  .catchFilterAll{
    padding: 24px 16px;
  }
 
}
//778px
@media (max-width: 778px) {
  .catchFilterAll{
  display: none;

  }
  .filterMobile1{
    z-index: 2;
    position: absolute;
    left: 0;
    top: inherit;
    width: 100%;
    background-color: #fff;
    display: flex;
    min-width: calc(100% - 48px);
    margin-inline: 24px;
  }
 
}
