.searchHeadInfoAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 52px;
}

.gridStatusChangeControl{
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 100%;
}

.searchHeadInfoAll .leftInfos ._catchInfos_1j6zo_1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  h2 {
    color: var(--black-01, #0b0f0e);
    font-family: Clash Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.2px;
    text-align: inherit;
  }
  p {
    color: var(--grey-01, #818b9c);
    font-family: Clash Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: inherit;
  }
}

.searchHeadInfoAll .rightInfos {
  display: flex;
  align-items: center;
  gap: 24px;

  .leftSelectionSide {
    display: flex;
    align-items: center;
    gap: 16px;
    p {
      color: var(--grey-01, #818b9c);
      font-family: Clash Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
    ._formCategory_1gezz_1 {
      border-radius: 8px;
      border: 1px solid var(--d-grey-01, #e4e9ee);
      ._serachIcon_1gezz_15 {
        display: none;
      }
    }
  }

  .allRightElments {
    display: flex;
    align-items: center;
    gap: 24px;
    .imgCatchFlt {
      display: none;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--d-grey-01, #e4e9ee);
      z-index: 3;
      img {
        padding: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .icon{
      height: 44px;
      width: 44px;
    }
  }

  .lineBridge {
    background: #e4e9ee;
    width: 2px;
    height: 24px;
  }
  .rightSideMenu {
    display: flex;
    align-items: center;
    gap: 8px;
    .firstIconBar {
      border-radius: 8px;
      background: var(--dark-green-01, #1e4c2f);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        padding: 10px;
        width: 100%;
        height: 100%;
      }
    }
    .secondIconBar {
      border-radius: 8px;
      border: 1px solid var(--d-grey-01, #e4e9ee);
      img {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

//1200px
@media (max-width: 1200px) {
  .searchHeadInfoAll .leftInfos ._catchInfos_1j6zo_1 {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .searchHeadInfoAll .rightInfos {
    .leftSelectionSide {
      gap: 14px;
      p {
        font-size: 14px;
      }
    }

    .rightSideMenu {
      gap: 6px;
    }
  }
}


//997px
@media (max-width: 997px){
  .gridStatusChangeControl{
    grid-template-columns: repeat(1, 1fr);
    
   
  }
}

//778px
@media (max-width: 778px) {
  .searchHeadInfoAll {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: baseline;
    position: relative;
    width: 100%;
  }
  .searchHeadInfoAll .leftInfos ._catchInfos_1j6zo_1 {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
  .searchHeadInfoAll .rightInfos {
    gap: 28px;
    .leftSelectionSide {
      gap: 8px;
      p {
        display: none;
      }
    }

    .allRightElments {
      gap: 12px;
      .icon {
        min-width: max-content; /* Adjust the minimum width as needed */
        /* You can also set a minimum height if necessary */
        min-height: max-content;
      }
    }
    .allRightElments .imgCatchFlt {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .rightSideMenu {
      gap: 6px;
    }
  }
  .gridStatusChangeControl{
    grid-template-columns: repeat(2, 1fr);
    
   
  }
}

//662px
@media (max-width: 662px){
  .gridStatusChangeControl{
    grid-template-columns: repeat(1, 1fr);
    
   
  }
}


//554px
@media (max-width: 554px) {
  .searchHeadInfoAll .rightInfos {
    gap: 10px;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;

    .leftSelectionSide {
      gap: 8px;

      ._formCategory_1gezz_1 {
        padding-inline: 3px;
        padding-block: 5px;
        width: 100%;
        height: 30px;
        ._select_1gezz_4 {
          width: 100%;
          option {
            word-wrap: break-word;
          }
        }
      }
    }
 
    .allRightElments {
      gap: 5px;
      // .imgCatchFlt {
      //   img {
      //     padding: 8px;
      //     width: 90%;
      //     height: 90%;
      //     object-fit: cover;
      //   }
      // }
    }

    .rightSideMenu {
      gap: 5px;
      .firstIconBar {
        img {
          padding: 8px;
          width: 90%;
          height: 90%;
        }
      }
      .secondIconBar {
        img {
          padding: 8px;
          width: 90%;
          height: 90%;
        }
      }
    }
  }
  .searchHeadInfoAll .rightInfos .allRightElments .icon {
    height: 30px;
    width: auto;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      padding: 5px;
    }
  }
}

//374px
@media (max-width: 345px) {
  .searchHeadInfoAll .rightInfos{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 14px;
  }
  .searchHeadInfoAll .rightInfos .leftSelectionSide ._formCategory_1gezz_1 {
    padding: 15px;
    height: auto;
  }
  .searchHeadInfoAll .rightInfos .rightSideMenu{
    gap: 20px;
  }
  .searchHeadInfoAll .rightInfos .allRightElments {
    gap: 20px;
  }
  .searchHeadInfoAll .rightInfos .lineBridge{
    display: none;
  }

}