.imageGalleryProduct {
  width: 50%;
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    border-radius: 40px;
    background: rgba(11, 15, 14, 0.16);
    width: 24px;
    height: 24px;
    color: black;
  }
  .image-gallery-slide.image-gallery-center {
    border-radius: 9px;
    background: var(--l-grey-02, #f6f6f6);
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    height: 300px;
    width: 300px;
    margin: 65px 140px;
  }


  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .image-gallery-thumbnail {
    border-radius: 9px;
    width: 100%;
    background: var(--l-grey-02, #f6f6f6);
  }
  button.image-gallery-thumbnail.active {
    border: 1.5px solid var(--dark-green-01, #1e4c2f);
  }
  img.image-gallery-thumbnail-image {
    width: 86px;
    height: 86px;
  }
  span.image-gallery-thumbnail-inner {
    margin: 20px;
  }
}
